<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student/<%= student.stuNo %>?_method=PUT" method="post">
        <div>
            <label>
            학번: 
                <input type="text" name="stuNo" value="<%= student.stuNo %>">
            </label>
        </div>

        <div>
            <label>
            이름: 
                <input type="text" name="stuName" value="<%= student.stuName %>">
            </label>
        </div>

        <div>
            <label>
            학과: 
                <input type="text" name="stuDept" value="<%= student.stuDept %>">
            </label>
        </div>

        <div> 
            <label>
                학년:
                <input type="text" name="stuGrade" value="<%= student.stuGrade %>">
            </label>
        </div>
        <button type="submit">수정</button>
    </form>
</body>
</html>